{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../styles/index/styles.css" rel="stylesheet">
    <link href="../styles/index/vendor.css" rel="stylesheet">
    <link href="../styles/summary/summary.css" rel="stylesheet">
    <link href="../styles/summary/table.css" rel="stylesheet">
    <link href="../styles/summary/table2.css" rel="stylesheet">

{% endblock %}
{% block body %}
    {% if tokens is defined %}
        {% if processing is defined %}
            <div class="be-content">
                <div id="mp-stats-app" class="main-content container-fluid">
                    <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
                        <div class="ag-overlay-panel">
                            <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                                <div class="mp-loader-static"></div>
                            </div>
                        </div>
                    </div> <!---->
                    <div>
                        <div class="card">
                            <div class="card-header d-md-flex justify-content-between align-items-start pb-3 pt-3">
                                <div class="d-flex flex-column flex-lg-row justify-content-between justify-content-lg-start align-items-lg-center">
                                    <div class="d-flex flex-column flex-lg-block flex-lg-row">
                                        <div class="d-block-inline dropdown-period mr-3">
                                            <div class="btn-group d-flex flex-column flex-lg-block flex-lg-row">
                                                Происходит обработка, пожалуйста повторите позже
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% include 'cabinet/HTML/sales.html.twig' %}
        {% endif %}
    {% else %}
        <div id="mp-stats-app" class="main-content container-fluid">
            <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
                <div class="ag-overlay-panel">
                    <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                        <div class="mp-loader-static"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-border-color card-border-color-warning col-12 py-5">
                    <div class="card-body py-4"><p class="lead text-center">Для работы с разделами личного кабинета
                            необходимо добавить ключи API</p>
                        <div class="d-flex justify-content-center"><a href="/cabinet/connect" class="btn btn-success">Добавить</a>
                        </div>
                    </div>
                </div>
            </div> <!---->
            <div><!---->
                <div class="snotify snotify-left_top"></div>
                <div class="snotify snotify-left_center"></div>
                <div class="snotify snotify-left_bottom"></div>
                <div class="snotify snotify-right_top"></div>
                <div class="snotify snotify-right_center"></div>
                <div class="snotify snotify-right_bottom"></div>
                <div class="snotify snotify-center_top"></div>
                <div class="snotify snotify-center_center"></div>
                <div class="snotify snotify-center_bottom"></div>
            </div>
        </div>
    {% endif %}
    <script>
        let option = {}
        document.addEventListener("DOMContentLoaded", () => {
            option = {...getOptions()}
            option['columnDefs'] = [
                {
                    headerName: 'Товар',
                    children: [
                        {
                            headerName: 'Фото',
                            field: 'photo',
                            maxWidth: 80,
                            sortable: false,
                            filter: false,
                            cellRenderer: params => `<img style="height: 32px; width: 32px" src="${params.value}" />`
                        },
                        {
                            headerName: 'Название',
                            field: 'subject'
                        },
                        {
                            headerName: 'SKU',
                            field: 'nmId',
                            maxWidth: 150
                        },
                        {
                            headerName: 'Категория',
                            field: 'category'
                        },
                        {
                            headerName: 'Артикул',
                            field: 'barcode'
                        },
                        {
                            headerName: 'Бренд',
                            field: 'brand'
                        },
                        {
                            headerName: 'Закуп',
                            field: 'forPay',
                            maxWidth: 100,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        },
                    ]
                },
                {
                    headerName: 'Идентификация',
                    children: [
                        {
                            headerName: 'Номер заказа',
                            field: 'gNumber'
                        },
                        {
                            headerName: 'ШК товара',
                            field: 'skItem',
                            cellRenderer: params => '-'
                        },
                    ]
                },
                {
                    headerName: 'Финансы',
                    children: [
                        {
                            headerName: 'Оплачено',
                            field: 'forPay2',
                            maxWidth: 150,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        },
                        {
                            headerName: 'Комиссия',
                            field: 'commission',
                            maxWidth: 150,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        },
                        {
                            headerName: 'Возврат',
                            field: 'return',
                            maxWidth: 150,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        },
                        {
                            headerName: 'К выплате',
                            field: 'forPay3',
                            maxWidth: 150,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        },
                        {
                            headerName: 'Прибыль',
                            field: 'resultPay',
                            maxWidth: 150,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        },
                    ]
                },
                {
                    headerName: 'Движение заказа',
                    children: [
                        {
                            headerName: 'Заказ',
                            field: 'date'
                        },
                        {
                            headerName: 'Продажа',
                            field: 'sales'
                        },
                        {
                            headerName: 'Возврат',
                            field: 'return2'
                        },
                        {
                            headerName: 'Обратная логистика',
                            field: 'logistic'
                        },
                    ]
                },
            ]
            option['rowData'] = [
                {% for order in orders ?? [] %}
                {
                    photo: '{{ order.img }}',
                    subject: '{{ order.subject }}',
                    nmId: '{{ order.nmId }}',
                    category: '{{ order.category }}',
                    barcode: '{{ order.barcode }}',
                    brand: '{{ order.brand }}',
                    forPay: '{{ order.forPay }}',
                    gNumber: '{{ order.gNumber }}',
                    forPay2: '{{ order.forPay }}',
                    commission: '{{ order.commission }}',
                    return: '{{ order.return }}',
                    forPay3: '{{ order.forPay }}',
                    resultPay: '{{ order.resultPay }}',
                    date: '{{ order.date|date("Y.m.d H:i:s") }}'
                },
                {% endfor %}
            ]
            new agGrid.Grid(document.getElementsByClassName("ag-theme-balham")[0], option)
            let buttonAllkey = document.getElementById("__BVID__11");
            let select = buttonAllkey.children[buttonAllkey.children.length - 1]
            select = select.children[select.children.length - 2]
            let tokens = [{% for token in tokens ?? [] %} {{token.id}}, {% endfor%}]
            for(let i=0;i<select.children.length;i++){
                for(let j=0;j<tokens.length;j++){
                    if(tokens[j] === tryParseInt(select.children[i].value)){
                        select.children[i].selected = true
                    }
                }
            }
        })
    </script>
{% endblock %}