{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../styles/index/styles.css" rel="stylesheet">
    <link href="../styles/index/vendor.css" rel="stylesheet">
    <link href="../styles/summary/summary.css" rel="stylesheet">
    <link href="../styles/summary/table.css" rel="stylesheet">
    <link href="../styles/summary/table2.css" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if tokens %}
        {% if processing is defined %}
            <div class="be-content">
                <div id="mp-stats-app" class="main-content container-fluid">
                    <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
                        <div class="ag-overlay-panel">
                            <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                                <div class="mp-loader-static"></div>
                            </div>
                        </div>
                    </div> <!---->
                    <div>
                        <div class="card">
                            <div class="card-header d-md-flex justify-content-between align-items-start pb-3 pt-3">
                                <div class="d-flex flex-column flex-lg-row justify-content-between justify-content-lg-start align-items-lg-center">
                                    <div class="d-flex flex-column flex-lg-block flex-lg-row">
                                        <div class="d-block-inline dropdown-period mr-3">
                                            <div class="btn-group d-flex flex-column flex-lg-block flex-lg-row">
                                                Происходит обработка, пожалуйста повторите позже
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% include 'cabinet/HTML/summary.html.twig' %}
            <script>
                let option = {}
                document.addEventListener('DOMContentLoaded', () => {
                    option = {...getOptions()}
                    option['columnDefs'] = [
                        {
                            headerName: 'Дата',
                            field: 'date',
                            maxWidth: 150
                        },
                        {
                            headerName: 'Продажи',
                            children: [
                                {
                                    headerName: 'Шт',
                                    field: 'salesQ',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'Руб',
                                    field: 'rubS',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'Прибыль',
                                    field: 'profitS',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'Себестоимость',
                                    field: 'costPriceS',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'Комиссия WB',
                                    field: 'commissionS',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'К выплате',
                                    field: 'profitS',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                            ]
                        },
                        {
                            headerName: 'Заказы',
                            children: [
                                {
                                    headerName: 'Шт',
                                    field: 'orderQ',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'Руб',
                                    field: 'rubOr',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                }
                            ]
                        },
                        {
                            headerName: 'Возвраты',
                            children: [
                                {
                                    headerName: 'Шт',
                                    field: 'returnQ',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'Руб',
                                    field: 'rubRet',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                }
                            ]
                        },
                        {
                            headerName: 'Логистика',
                            children: [
                                {
                                    headerName: 'К клиенту',
                                    field: 'logisticToC',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                },
                                {
                                    headerName: 'От клиента',
                                    field: 'logisticFromC',
                                    maxWidth: 150,
                                    cellRenderer: params => `<p class="number">${params.value}</p>`
                                }
                            ]
                        },
                        {
                            headerName: 'Штраф',
                            field: 'fine',
                            maxWidth: 150,
                            cellRenderer: params => `<p class="number">${params.value}</p>`
                        }
                    ]
                    option['rowData'] = [
                        {% for sale in sales %}
                        {
                            date: '{{ sale.date }}',
                            salesQ: '{{ sale.salesQ }}',
                            rubS: '{{ sale.rubS }}',
                            profitS: '{{ sale.profitS }}',
                            costPriceS: '{{ sale.costPriceS }}',
                            commissionS: '{{ sale.commissionS }}',
                            orderQ: '{{ sale.orderQ }}',
                            rubOr: '{{ sale.rubOr }}',
                            returnQ: '{{ sale.returnQ }}',
                            rubRet: '{{ sale.rubRet }}',
                            logisticToC: '{{ sale.logisticToC }}',
                            logisticFromC: '{{ sale.logisticFromC }}',
                            fine: '{{ sale.fine }}',
                        },
                        {% endfor %}
                    ]
                    newDatePicker('datePicker', function () {}, "d.m.Y")
                    new agGrid.Grid(document.getElementsByClassName("ag-theme-balham")[0], option)
                    let buttonAllkey = document.getElementById("__BVID__11");
                    let select = buttonAllkey.children[buttonAllkey.children.length - 1]
                    select = select.children[select.children.length - 2]
                    let tokens = [{% for token in tokens ?? [] %} {{token.id}}, {% endfor%}]
                    for(let i=0;i<select.children.length;i++){
                        for(let j=0;j<tokens.length;j++){
                            if(tokens[j] === tryParseInt(select.children[i].value)){
                                select.children[i].selected = true
                            }
                        }
                    }
                    formatter("summa_price")
                    formatter("summa_length")
                    formatter("summa_profit")
                    formatter("summa_comm")
                    formatter("returned_length")
                    formatter("returned_price")
                    formatter("rent")
                    formatter("mardj")
                    formatter("orders_price")
                    formatter("orders_length")
                    formatter("stocks_cost_price")
                    formatter("stocks_retail_price")
                })
            </script>
        {% endif %}
    {% else %}
        <div id="mp-stats-app" class="main-content container-fluid">
            <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
                <div class="ag-overlay-panel">
                    <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                        <div class="mp-loader-static"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-border-color card-border-color-warning col-12 py-5">
                    <div class="card-body py-4"><p class="lead text-center">Для работы с разделами личного кабинета
                            необходимо добавить ключи API</p>
                        <div class="d-flex justify-content-center"><a href="/cabinet/connect" class="btn btn-success">Добавить</a>
                        </div>
                    </div>
                </div>
            </div> <!---->
            <div><!---->
                <div class="snotify snotify-left_top"></div>
                <div class="snotify snotify-left_center"></div>
                <div class="snotify snotify-left_bottom"></div>
                <div class="snotify snotify-right_top"></div>
                <div class="snotify snotify-right_center"></div>
                <div class="snotify snotify-right_bottom"></div>
                <div class="snotify snotify-center_top"></div>
                <div class="snotify snotify-center_center"></div>
                <div class="snotify snotify-center_bottom"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}