{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../../styles/index/styles.css" rel="stylesheet">
    <link href="../../styles/index/vendor.css" rel="stylesheet">
    <link href="../../styles/summary/summary.css" rel="stylesheet">
    <link href="../../styles/summary/table.css" rel="stylesheet">
    <link href="../../styles/summary/table2.css" rel="stylesheet">
    <link href="../../styles/seo/selection.css" rel="stylesheet">
    <link href="../../styles/seo/slider.css" rel="stylesheet">

{% endblock %}
{% block body %}
    <div id="mp-stats-app" class="main-content container-fluid">
        <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
            <div class="ag-overlay-panel">
                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                    <div class="mp-loader-static"></div>
                </div>
            </div>
        </div>
        <div data-v-0ead128c="" id="app-layout">
            <section data-v-0ead128c="" class="pb-md-4">
                <div class="row">
                    <div class="col-12"><!---->
                        <div style="">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mb-0">
                                        <div class="card-header d-md-flex align-items-start justify-content-between pb-2 pt-3">
                                            <div>Проверка пересечений ключевых фраз между группами SKU</div>
                                            <button class="btn btn-success">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false"
                                                     role="img" aria-label="file text"
                                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                     class="bi-file-text mr-1 b-icon bi">
                                                    <g>
                                                        <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                                                    </g>
                                                </svg>
                                                Новый запрос
                                            </button>
                                        </div>
                                        <div class="card-body pb-0">
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="ag-height-35">
                                                        <div class="ag-theme-material">
                                                            <div ref="eRootWrapper"
                                                                 class="ag-root-wrapper ag-layout-normal ag-ltr">
                                                                <!--AG-GRID-HEADER-DROP-ZONES-->
                                                                <div class="ag-column-drop-wrapper">
                                                                    <div class="ag-unselectable ag-column-drop ag-column-drop-horizontal ag-column-drop-empty ag-hidden">
                                                                        <div class="ag-column-drop-title-bar ag-column-drop-horizontal-title-bar">
                                                                            <span class="ag-icon ag-icon-group ag-column-drop-icon ag-column-drop-horizontal-icon"
                                                                                  unselectable="on"
                                                                                  role="presentation"></span></div>
                                                                        <div class="ag-column-drop-list ag-column-drop-horizontal-list">
                                                                            <span class="ag-column-drop-empty-message ag-column-drop-horizontal-empty-message">Перетащите сюда для группировки по строкам</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ag-unselectable ag-column-drop ag-column-drop-horizontal ag-column-drop-empty ag-hidden">
                                                                        <div class="ag-column-drop-title-bar ag-column-drop-horizontal-title-bar">
                                                                            <span class="ag-icon ag-icon-pivot ag-column-drop-icon ag-column-drop-horizontal-icon"
                                                                                  unselectable="on"
                                                                                  role="presentation"></span></div>
                                                                        <div class="ag-column-drop-list ag-column-drop-horizontal-list">
                                                                            <span class="ag-column-drop-empty-message ag-column-drop-horizontal-empty-message">Перетащите сюда, чтобы задать заголовки столбам</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="ag-root-wrapper-body ag-layout-normal ag-focus-managed"
                                                                     ref="rootWrapperBody">
                                                                    <div class="ag-tab-guard ag-tab-guard-top"
                                                                         role="presentation" tabindex="0"></div>
                                                                    <!--AG-GRID-BODY-->
                                                                    <div class="ag-root ag-unselectable ag-layout-normal"
                                                                         role="grid" unselectable="on" ref="gridBody"
                                                                         aria-rowcount="3" aria-colcount="4"
                                                                         aria-multiselectable="true">
                                                                        <!--AG-HEADER-ROOT-->
                                                                        <div class="ag-header ag-focus-managed ag-pivot-off"
                                                                             role="presentation" ref="headerRoot"
                                                                             unselectable="on"
                                                                             style="height: 51px; min-height: 51px;">
                                                                            <div class="ag-pinned-left-header ag-hidden"
                                                                                 ref="ePinnedLeftHeader"
                                                                                 role="presentation"
                                                                                 style="width: 0px; max-width: 0px; min-width: 0px;">
                                                                                <div class="ag-header-row ag-header-row-column-group"
                                                                                     role="row" aria-rowindex="1"
                                                                                     style="top: 0px; height: 50px; width: 0px;"></div>
                                                                                <div class="ag-header-row ag-header-row-column"
                                                                                     role="row" aria-rowindex="2"
                                                                                     style="top: 50px; height: 0px; width: 0px;"></div>
                                                                            </div>
                                                                            <div class="ag-header-viewport"
                                                                                 ref="eHeaderViewport"
                                                                                 role="presentation">
                                                                                <div class="ag-header-container"
                                                                                     ref="eHeaderContainer"
                                                                                     role="rowgroup"
                                                                                     style="width: 1510px; transform: translateX(0px);">
                                                                                    <div class="ag-header-row ag-header-row-column-group"
                                                                                         role="row" aria-rowindex="1"
                                                                                         style="top: 0px; height: 50px; width: 1510px;">
                                                                                        <div class="ag-header-group-cell ag-focus-managed ag-grid-header-center ag-header-group-cell-with-group"
                                                                                             role="columnheader"
                                                                                             tabindex="-1" col-id="0_0"
                                                                                             aria-colspan="2"
                                                                                             aria-colindex="1"
                                                                                             style="width: 755px; left: 0px;">
                                                                                            <div ref="agResize"
                                                                                                 class="ag-header-cell-resize"
                                                                                                 role="presentation"></div>
                                                                                            <div class="ag-header-group-cell-label"
                                                                                                 ref="agContainer"
                                                                                                 role="presentation">
                                                                                                <span ref="agLabel"
                                                                                                      class="ag-header-group-text"
                                                                                                      role="presentation">Группа A</span>
                                                                                                <span ref="agOpened"
                                                                                                      class="ag-header-icon ag-header-expand-icon ag-header-expand-icon-expanded ag-hidden"><span
                                                                                                            class="ag-icon ag-icon-expanded"
                                                                                                            unselectable="on"
                                                                                                            role="presentation"></span></span>
                                                                                                <span ref="agClosed"
                                                                                                      class="ag-header-icon ag-header-expand-icon ag-header-expand-icon-collapsed ag-hidden"><span
                                                                                                            class="ag-icon ag-icon-contracted"
                                                                                                            unselectable="on"
                                                                                                            role="presentation"></span></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ag-header-group-cell ag-focus-managed ag-grid-header-center ag-header-group-cell-with-group"
                                                                                             role="columnheader"
                                                                                             tabindex="-1" col-id="1_0"
                                                                                             aria-colspan="2"
                                                                                             aria-colindex="3"
                                                                                             style="width: 755px; left: 755px;">
                                                                                            <div ref="agResize"
                                                                                                 class="ag-header-cell-resize"
                                                                                                 role="presentation"></div>
                                                                                            <div class="ag-header-group-cell-label"
                                                                                                 ref="agContainer"
                                                                                                 role="presentation">
                                                                                                <span ref="agLabel"
                                                                                                      class="ag-header-group-text"
                                                                                                      role="presentation">Группа B</span>
                                                                                                <span ref="agOpened"
                                                                                                      class="ag-header-icon ag-header-expand-icon ag-header-expand-icon-expanded ag-hidden"><span
                                                                                                            class="ag-icon ag-icon-expanded"
                                                                                                            unselectable="on"
                                                                                                            role="presentation"></span></span>
                                                                                                <span ref="agClosed"
                                                                                                      class="ag-header-icon ag-header-expand-icon ag-header-expand-icon-collapsed ag-hidden"><span
                                                                                                            class="ag-icon ag-icon-contracted"
                                                                                                            unselectable="on"
                                                                                                            role="presentation"></span></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="ag-header-row ag-header-row-column"
                                                                                         role="row" aria-rowindex="2"
                                                                                         style="top: 50px; height: 0px; width: 1510px;">
                                                                                        <div class="ag-header-cell ag-focus-managed ag-header-cell-sortable"
                                                                                             role="columnheader"
                                                                                             unselectable="on"
                                                                                             tabindex="-1"
                                                                                             aria-sort="none"
                                                                                             aria-colindex="1"
                                                                                             col-id="skuA"
                                                                                             style="width: 80px; left: 0px;">
                                                                                            <div ref="eResize"
                                                                                                 class="ag-header-cell-resize ag-hidden"
                                                                                                 role="presentation"></div>
                                                                                            <!--AG-CHECKBOX-->
                                                                                            <div role="presentation"
                                                                                                 ref="cbSelectAll"
                                                                                                 class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-input-field ag-hidden">
                                                                                                <div ref="eLabel"
                                                                                                     class="ag-input-field-label ag-label ag-hidden ag-checkbox-label"
                                                                                                     role="presentation"></div>
                                                                                                <div ref="eWrapper"
                                                                                                     class="ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper"
                                                                                                     role="presentation">
                                                                                                    <input ref="eInput"
                                                                                                           class="ag-input-field-input ag-checkbox-input"
                                                                                                           type="checkbox"
                                                                                                           id="ag-36-input"
                                                                                                           tabindex="-1"
                                                                                                           aria-label="Press Space to toggle all rows selection (unchecked)">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="ag-cell-label-container ag-header-cell-sorted-none"
                                                                                                 role="presentation">

                                                                                                <div ref="eLabel"
                                                                                                     class="ag-header-cell-label"
                                                                                                     role="presentation"
                                                                                                     unselectable="on">
                                                                                                    <span ref="eText"
                                                                                                          class="ag-header-cell-text"
                                                                                                          unselectable="on">Sku A</span>
                                                                                                    <span ref="eFilter"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-filter-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-filter"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortOrder"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-order ag-hidden"
                                                                                                          aria-hidden="true"></span>
                                                                                                    <span ref="eSortAsc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-ascending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-asc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortDesc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-descending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-desc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortNone"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-none-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-none"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ag-header-cell ag-focus-managed ag-header-cell-sortable"
                                                                                             role="columnheader"
                                                                                             unselectable="on"
                                                                                             tabindex="-1"
                                                                                             aria-sort="none"
                                                                                             aria-colindex="2"
                                                                                             col-id="nameA"
                                                                                             style="width: 675px; left: 80px;">
                                                                                            <div ref="eResize"
                                                                                                 class="ag-header-cell-resize"
                                                                                                 role="presentation"></div>
                                                                                            <!--AG-CHECKBOX-->
                                                                                            <div role="presentation"
                                                                                                 ref="cbSelectAll"
                                                                                                 class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-input-field ag-hidden">
                                                                                                <div ref="eLabel"
                                                                                                     class="ag-input-field-label ag-label ag-hidden ag-checkbox-label"
                                                                                                     role="presentation"></div>
                                                                                                <div ref="eWrapper"
                                                                                                     class="ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper"
                                                                                                     role="presentation">
                                                                                                    <input ref="eInput"
                                                                                                           class="ag-input-field-input ag-checkbox-input"
                                                                                                           type="checkbox"
                                                                                                           id="ag-39-input"
                                                                                                           tabindex="-1"
                                                                                                           aria-label="Press Space to toggle all rows selection (unchecked)">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="ag-cell-label-container ag-header-cell-sorted-none"
                                                                                                 role="presentation">

                                                                                                <div ref="eLabel"
                                                                                                     class="ag-header-cell-label"
                                                                                                     role="presentation"
                                                                                                     unselectable="on">
                                                                                                    <span ref="eText"
                                                                                                          class="ag-header-cell-text"
                                                                                                          unselectable="on">Name A</span>
                                                                                                    <span ref="eFilter"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-filter-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-filter"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortOrder"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-order ag-hidden"
                                                                                                          aria-hidden="true"></span>
                                                                                                    <span ref="eSortAsc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-ascending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-asc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortDesc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-descending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-desc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortNone"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-none-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-none"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ag-header-cell ag-focus-managed ag-header-cell-sortable"
                                                                                             role="columnheader"
                                                                                             unselectable="on"
                                                                                             tabindex="-1"
                                                                                             aria-sort="none"
                                                                                             aria-colindex="3"
                                                                                             col-id="skuB"
                                                                                             style="width: 80px; left: 755px;">
                                                                                            <div ref="eResize"
                                                                                                 class="ag-header-cell-resize ag-hidden"
                                                                                                 role="presentation"></div>
                                                                                            <!--AG-CHECKBOX-->
                                                                                            <div role="presentation"
                                                                                                 ref="cbSelectAll"
                                                                                                 class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-input-field ag-hidden">
                                                                                                <div ref="eLabel"
                                                                                                     class="ag-input-field-label ag-label ag-hidden ag-checkbox-label"
                                                                                                     role="presentation"></div>
                                                                                                <div ref="eWrapper"
                                                                                                     class="ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper"
                                                                                                     role="presentation">
                                                                                                    <input ref="eInput"
                                                                                                           class="ag-input-field-input ag-checkbox-input"
                                                                                                           type="checkbox"
                                                                                                           id="ag-42-input"
                                                                                                           tabindex="-1"
                                                                                                           aria-label="Press Space to toggle all rows selection (unchecked)">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="ag-cell-label-container ag-header-cell-sorted-none"
                                                                                                 role="presentation">

                                                                                                <div ref="eLabel"
                                                                                                     class="ag-header-cell-label"
                                                                                                     role="presentation"
                                                                                                     unselectable="on">
                                                                                                    <span ref="eText"
                                                                                                          class="ag-header-cell-text"
                                                                                                          unselectable="on">Sku B</span>
                                                                                                    <span ref="eFilter"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-filter-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-filter"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortOrder"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-order ag-hidden"
                                                                                                          aria-hidden="true"></span>
                                                                                                    <span ref="eSortAsc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-ascending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-asc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortDesc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-descending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-desc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortNone"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-none-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-none"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ag-header-cell ag-focus-managed ag-header-cell-sortable"
                                                                                             role="columnheader"
                                                                                             unselectable="on"
                                                                                             tabindex="-1"
                                                                                             aria-sort="none"
                                                                                             aria-colindex="4"
                                                                                             col-id="nameB"
                                                                                             style="width: 675px; left: 835px;">
                                                                                            <div ref="eResize"
                                                                                                 class="ag-header-cell-resize"
                                                                                                 role="presentation"></div>
                                                                                            <!--AG-CHECKBOX-->
                                                                                            <div role="presentation"
                                                                                                 ref="cbSelectAll"
                                                                                                 class="ag-header-select-all ag-labeled ag-label-align-right ag-checkbox ag-input-field ag-hidden">
                                                                                                <div ref="eLabel"
                                                                                                     class="ag-input-field-label ag-label ag-hidden ag-checkbox-label"
                                                                                                     role="presentation"></div>
                                                                                                <div ref="eWrapper"
                                                                                                     class="ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper"
                                                                                                     role="presentation">
                                                                                                    <input ref="eInput"
                                                                                                           class="ag-input-field-input ag-checkbox-input"
                                                                                                           type="checkbox"
                                                                                                           id="ag-45-input"
                                                                                                           tabindex="-1"
                                                                                                           aria-label="Press Space to toggle all rows selection (unchecked)">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="ag-cell-label-container ag-header-cell-sorted-none"
                                                                                                 role="presentation">

                                                                                                <div ref="eLabel"
                                                                                                     class="ag-header-cell-label"
                                                                                                     role="presentation"
                                                                                                     unselectable="on">
                                                                                                    <span ref="eText"
                                                                                                          class="ag-header-cell-text"
                                                                                                          unselectable="on">Name B</span>
                                                                                                    <span ref="eFilter"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-filter-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-filter"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortOrder"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-order ag-hidden"
                                                                                                          aria-hidden="true"></span>
                                                                                                    <span ref="eSortAsc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-ascending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-asc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortDesc"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-descending-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-desc"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                    <span ref="eSortNone"
                                                                                                          class="ag-header-icon ag-header-label-icon ag-sort-none-icon ag-hidden"
                                                                                                          aria-hidden="true"><span
                                                                                                                class="ag-icon ag-icon-none"
                                                                                                                unselectable="on"
                                                                                                                role="presentation"></span></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="ag-pinned-right-header ag-hidden"
                                                                                 ref="ePinnedRightHeader"
                                                                                 role="presentation"
                                                                                 style="width: 0px; max-width: 0px; min-width: 0px;">
                                                                                <div class="ag-header-row ag-header-row-column-group"
                                                                                     role="row" aria-rowindex="1"
                                                                                     style="top: 0px; height: 50px; width: 0px;"></div>
                                                                                <div class="ag-header-row ag-header-row-column"
                                                                                     role="row" aria-rowindex="2"
                                                                                     style="top: 50px; height: 0px; width: 0px;"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ag-floating-top" ref="eTop"
                                                                             role="presentation" unselectable="on"
                                                                             style="min-height: 0px; height: 0px; display: none; overflow-y: hidden;">
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-pinned-left-floating-top ag-hidden"
                                                                                 ref="topLeftContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="topLeft"></div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-floating-top-viewport"
                                                                                 ref="topCenterContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="topCenter">
                                                                                <div class="ag-floating-top-container"
                                                                                     ref="eContainer"
                                                                                     role="presentation"
                                                                                     unselectable="on"
                                                                                     style="width: 1510px; transform: translateX(0px);"></div>
                                                                            </div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-pinned-right-floating-top ag-hidden"
                                                                                 ref="topRightContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="topRight"></div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-floating-top-full-width-container"
                                                                                 ref="topFullWidthContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="topFullWidth"></div>
                                                                        </div>
                                                                        <div class="ag-body-viewport ag-layout-normal ag-row-no-animation"
                                                                             ref="eBodyViewport" role="presentation">
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-pinned-left-cols-container ag-hidden"
                                                                                 ref="leftContainer" role="presentation"
                                                                                 unselectable="on" name="left"
                                                                                 style="height: 40px;">
                                                                                <div role="row" row-index="0"
                                                                                     aria-rowindex="3" row-id="0"
                                                                                     comp-id="92"
                                                                                     class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first ag-row-last"
                                                                                     style="height: 40px; transform: translateY(0px); "
                                                                                     aria-label="Press SPACE to select this row."></div>
                                                                            </div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-center-cols-clipper"
                                                                                 ref="centerContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="center" style="height: 40px;">
                                                                                <div class="ag-center-cols-viewport"
                                                                                     ref="eViewport" role="presentation"
                                                                                     style="height: 100%;">
                                                                                    <div class="ag-center-cols-container"
                                                                                         ref="eContainer"
                                                                                         role="rowgroup"
                                                                                         unselectable="on"
                                                                                         style="width: 1510px; height: 40px;">
                                                                                        <div role="row" row-index="0"
                                                                                             aria-rowindex="3"
                                                                                             row-id="0" comp-id="93"
                                                                                             class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first ag-row-last"
                                                                                             style="height: 40px; transform: translateY(0px); "
                                                                                             aria-label="Press SPACE to select this row.">
                                                                                            <div tabindex="-1"
                                                                                                 unselectable="on"
                                                                                                 role="gridcell"
                                                                                                 aria-colindex="1"
                                                                                                 comp-id="94"
                                                                                                 col-id="skuA"
                                                                                                 class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                                                 aria-selected="false"
                                                                                                 style="width: 80px; left: 0px; background-color: rgba(31, 119, 180, 0.05); line-height: 40px; ">
                                                                                                <div class="ag-grid-thumb-cell">
                                                                                                    <div>
                                                                                                        <img referrerpolicy="no-referrer"
                                                                                                             src="{{ items[0].photos[0].t??'' }}"
                                                                                                             id="thumb_18">
                                                                                                        <!----></div>
                                                                                                    <!----></div>
                                                                                            </div>
                                                                                            <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                                                 aria-selected="false"
                                                                                                 style="width: 675px; left: 80px; background-color: rgba(31, 119, 180, 0.05); line-height: 40px;">
                                                                                                <a href="/wb/item/{{ items[0].item.id??'' }}"
                                                                                                   target="_blank">{{ items[0].item.name ??'Нет данных' }}</a>
                                                                                            </div>
                                                                                            <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                                                 style="width: 80px; left: 755px; background-color: rgba(255, 127, 14, 0.05); line-height: 40px;">
                                                                                                <div class="ag-grid-thumb-cell">
                                                                                                    <div>
                                                                                                        <img src="{{ items[1].photos[0].t??'' }}">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="ag-cell ag-cell-not-inline-editing ag-cell-auto-height ag-cell-value"
                                                                                                 style="width: 675px; left: 835px; background-color: rgba(255, 127, 14, 0.05); line-height: 40px;">
                                                                                                <a href="/wb/item/{{ items[1].item.id??'' }}">{{ items[1].item.name ??'Нет данных' }}</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-pinned-right-cols-container ag-hidden"
                                                                                 ref="rightContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="right" style="height: 40px;">
                                                                                <div role="row" row-index="0"
                                                                                     aria-rowindex="3" row-id="0"
                                                                                     comp-id="98"
                                                                                     class="ag-row ag-row-no-focus ag-row-even ag-row-level-0 ag-row-position-absolute ag-row-first ag-row-last"
                                                                                     style="height: 40px; transform: translateY(0px); "
                                                                                     aria-label="Press SPACE to select this row."></div>
                                                                            </div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-full-width-container"
                                                                                 ref="fullWidthContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="fullWidth"
                                                                                 style="height: 40px;"></div>
                                                                        </div>
                                                                        <div class="ag-floating-bottom" ref="eBottom"
                                                                             role="presentation" unselectable="on"
                                                                             style="min-height: 0px; height: 0px; display: none; overflow-y: hidden;">
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-pinned-left-floating-bottom ag-hidden"
                                                                                 ref="bottomLeftContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="bottomLeft"></div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-floating-bottom-viewport"
                                                                                 ref="bottomCenterContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="bottomCenter">
                                                                                <div class="ag-floating-bottom-container"
                                                                                     ref="eContainer"
                                                                                     role="presentation"
                                                                                     unselectable="on"
                                                                                     style="width: 1510px; transform: translateX(0px);"></div>
                                                                            </div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-pinned-right-floating-bottom ag-hidden"
                                                                                 ref="bottomRightContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="bottomRight"></div>
                                                                            <!--AG-ROW-CONTAINER-->
                                                                            <div class="ag-floating-bottom-full-width-container"
                                                                                 ref="bottomFullWidthContainer"
                                                                                 role="presentation" unselectable="on"
                                                                                 name="bottomFullWidth"></div>
                                                                        </div>
                                                                        <!--AG-FAKE-HORIZONTAL-SCROLL-->
                                                                        <div class="ag-body-horizontal-scroll"
                                                                             aria-hidden="true"
                                                                             style="height: 0px; max-height: 0px; min-height: 0px;">
                                                                            <div class="ag-horizontal-left-spacer ag-scroller-corner"
                                                                                 ref="eLeftSpacer"
                                                                                 style="width: 0px; max-width: 0px; min-width: 0px;"></div>
                                                                            <div class="ag-body-horizontal-scroll-viewport"
                                                                                 ref="eViewport"
                                                                                 style="height: 0px; max-height: 0px; min-height: 0px;">
                                                                                <div class="ag-body-horizontal-scroll-container"
                                                                                     ref="eContainer"
                                                                                     style="height: 0px; max-height: 0px; min-height: 0px; width: 1510px;"></div>
                                                                            </div>
                                                                            <div class="ag-horizontal-right-spacer ag-scroller-corner"
                                                                                 ref="eRightSpacer"
                                                                                 style="width: 0px; max-width: 0px; min-width: 0px;"></div>
                                                                        </div>
                                                                        <!--AG-OVERLAY-WRAPPER-->
                                                                        <div class="ag-overlay ag-hidden"
                                                                             aria-hidden="true">
                                                                            <div class="ag-overlay-panel">
                                                                                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-no-rows-wrapper"
                                                                                     ref="eOverlayWrapper"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--AG-SIDE-BAR-->
                                                                    <div class="ag-side-bar ag-unselectable ag-hidden"
                                                                         ref="sideBar">
                                                                        <!--AG-SIDE-BAR-BUTTONS-->
                                                                        <div class="ag-side-buttons"
                                                                             ref="sideBarButtons"></div>
                                                                    </div>
                                                                    <div class="ag-tab-guard ag-tab-guard-bottom"
                                                                         role="presentation" tabindex="0"></div>
                                                                </div>
                                                                <!--AG-STATUS-BAR-->
                                                                <div class="ag-status-bar ag-hidden" ref="statusBar">
                                                                    <div ref="eStatusBarLeft"
                                                                         class="ag-status-bar-left"></div>
                                                                    <div ref="eStatusBarCenter"
                                                                         class="ag-status-bar-center"></div>
                                                                    <div ref="eStatusBarRight"
                                                                         class="ag-status-bar-right"></div>
                                                                </div>
                                                                <!--AG-PAGINATION-->
                                                                <div class="ag-paging-panel ag-unselectable ag-hidden"
                                                                     id="ag-23" aria-live="polite"
                                                                     aria-describedby="ag-23-start-page ag-23-start-page-number ag-23-of-page ag-23-of-page-number ag-23-first-row ag-23-to ag-23-last-row ag-23-of ag-23-row-count">
                <span class="ag-paging-row-summary-panel" aria-hidden="true">
                    <span id="ag-23-first-row" ref="lbFirstRowOnPage" class="ag-paging-row-summary-panel-number"></span>
                    <span id="ag-23-to">к</span>
                    <span id="ag-23-last-row" ref="lbLastRowOnPage" class="ag-paging-row-summary-panel-number"></span>
                    <span id="ag-23-of">из</span>
                    <span id="ag-23-row-count" ref="lbRecordCount" class="ag-paging-row-summary-panel-number"></span>
                </span>
                                                                    <span class="ag-paging-page-summary-panel"
                                                                          role="presentation">
                    <div ref="btFirst" class="ag-paging-button" role="button" aria-label="First Page" tabindex="0"><span
                                class="ag-icon ag-icon-first" unselectable="on" role="presentation"></span></div>
                    <div ref="btPrevious" class="ag-paging-button" role="button" aria-label="Previous Page"
                         tabindex="0"><span class="ag-icon ag-icon-previous" unselectable="on"
                                            role="presentation"></span></div>
                    <span class="ag-paging-description" aria-hidden="true">
                        <span id="ag-23-start-page">Страница</span>
                        <span id="ag-23-start-page-number" ref="lbCurrent" class="ag-paging-number"></span>
                        <span id="ag-23-of-page">из</span>
                        <span id="ag-23-of-page-number" ref="lbTotal" class="ag-paging-number"></span>
                    </span>
                    <div ref="btNext" class="ag-paging-button" role="button" aria-label="Next Page" tabindex="0"><span
                                class="ag-icon ag-icon-next" unselectable="on" role="presentation"></span></div>
                    <div ref="btLast" class="ag-paging-button" role="button" aria-label="Last Page" tabindex="0"><span
                                class="ag-icon ag-icon-last" unselectable="on" role="presentation"></span></div>
                </span>
                                                                </div>
                                                                <!--AG-WATERMARK-->
                                                                <div class="ag-watermark ag-hidden">
                                                                    <div ref="eLicenseTextRef"
                                                                         class="ag-watermark-text"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-0 mt-2">
                                        <div class="card-header d-md-flex align-items-start justify-content-between pb-2 pt-3">
                                            <form>
                                                <div class="custom-control custom-radio custom-control-inline"><input
                                                            type="radio" onclick="result(this)" id="resultA"
                                                            value="resultA" name="tableView"
                                                            class="custom-control-input"> <label for="resultA"
                                                                                                 class="custom-control-label">Только
                                                        A</label></div>
                                                <div class="custom-control custom-radio custom-control-inline"><input
                                                            type="radio" onclick="result(this)" id="resultB"
                                                            value="resultB" name="tableView"
                                                            class="custom-control-input"> <label for="resultB"
                                                                                                 class="custom-control-label">Только
                                                        B</label></div>
                                                <div class="custom-control custom-radio custom-control-inline"><input
                                                            type="radio" onclick="result(this)" id="intersect"
                                                            value="intersect"
                                                            name="tableView" class="custom-control-input"> <label
                                                            for="intersect" class="custom-control-label">Общие A и
                                                        B</label></div>
                                                <div class="custom-control custom-radio custom-control-inline"><input
                                                            type="radio" onclick="result(this)" id="diffAB"
                                                            value="diffAB" name="tableView"
                                                            class="custom-control-input"> <label for="diffAB"
                                                                                                 class="custom-control-label">Разница
                                                        A минус B</label></div>
                                                <div class="custom-control custom-radio custom-control-inline"><input
                                                            type="radio" onclick="result(this)" id="diffBA"
                                                            value="diffBA" name="tableView"
                                                            class="custom-control-input"> <label for="diffBA"
                                                                                                 class="custom-control-label">Разница
                                                        B минус A</label></div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <div class="ag-height-65">
                                                <div tooltip-show-delay="200" groupdisplaytype="singleColumn"
                                                     class="ag-theme-material">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between mt-3">
                                                <div>Всего: 0</div>
                                                <div>
                                                    <button onclick="option.api.exportDataAsCsv()" class="btn btn-outline-secondary font-weight-light">
                                                        <svg viewBox="0 0 16 16" width="1em" height="1em"
                                                             focusable="false" role="img" aria-label="file excel"
                                                             xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                             class="bi-file-excel b-icon bi">
                                                            <g>
                                                                <path d="M5.18 4.616a.5.5 0 0 1 .704.064L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 0 1 .064-.704z"></path>
                                                                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"></path>
                                                            </g>
                                                        </svg>
                                                        Экспорт в CSV
                                                    </button>
                                                    <button onclick="option.api.exportDataAsExcel()" class="btn btn-outline-secondary font-weight-light">
                                                        <svg viewBox="0 0 16 16" width="1em" height="1em"
                                                             focusable="false" role="img"
                                                             aria-label="file earmark excel"
                                                             xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                             class="bi-file-earmark-excel b-icon bi">
                                                            <g>
                                                                <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"></path>
                                                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path>
                                                            </g>
                                                        </svg>
                                                        Экспорт в XLSX
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!----></div>
                </div> <!----></section>
        </div>
        <div><!---->
            <div class="snotify snotify-left_top"></div>
            <div class="snotify snotify-left_center"></div>
            <div class="snotify snotify-left_bottom"></div>
            <div class="snotify snotify-right_top"></div>
            <div class="snotify snotify-right_center"></div>
            <div class="snotify snotify-right_bottom"></div>
            <div class="snotify snotify-center_top"></div>
            <div class="snotify snotify-center_center"></div>
            <div class="snotify snotify-center_bottom"></div>
        </div>
    </div>
    <script>
        let option = {}
        document.addEventListener('DOMContentLoaded', () => {
            option = {...getOptions()}
            option['columnDefs'] = [
                {
                    headerName: 'Ключевая фраза',
                    field: 'word',
                    minWidth: 1500,
                },
                {
                    headerName: 'Частота',
                    field: 'count',
                    maxWidth: 200,
                },
            ]
            option['rowData'] = [
                {% for res in resultA %}
                {
                    word: '{{res.word}}',
                    count: '{{res.count}}'
                },
                {% endfor %}
            ]
            new agGrid.Grid(document.getElementsByClassName("ag-theme-material")[1], option)
        })

        function result(el) {
            switch (el.id) {
                case "resultA":
                    setGroupA()
                    break;
                case "resultB":
                    setGroupB()
                    break;
                case "intersect":
                    intersect()
                    break;
                case "diffAB":
                    diffAB()
                    break;
                case "diffBA":
                    diffBA()
                    break;
            }
        }
        function setGroupA() {
            option.api.setRowData([
                {% for res in resultA %}
                {
                    word: '{{res.word}}',
                    count: '{{res.count}}'
                },
                {% endfor %}
            ])
        }
        function setGroupB() {
            option.api.setRowData([
                {% for res in resultB %}
                {
                    word: '{{res.word}}',
                    count: '{{res.count}}'
                },
                {% endfor %}
            ])
        }
        function intersect(){
            option.api.setRowData([
                {% for res in intersect %}
                {
                    word: '{{res.word}}',
                    count: '{{res.count}}'
                },
                {% endfor %}
            ])
        }
        function diffAB(){
            option.api.setRowData([
                {% for res in diffAB %}
                {
                    word: '{{res.word}}',
                    count: '{{res.count}}'
                },
                {% endfor %}
            ])
        }
        function diffBA(){
            option.api.setRowData([
                {% for res in diffBA %}
                {
                    word: '{{res.word}}',
                    count: '{{res.count}}'
                },
                {% endfor %}
            ])
        }
    </script>
{% endblock %}