{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../styles/index/styles.css" rel="stylesheet">
    <link href="../styles/index/vendor.css" rel="stylesheet">
    <link href="../styles/summary/summary.css" rel="stylesheet">
    <link href="../styles/summary/table.css" rel="stylesheet">
    <link href="../styles/summary/table2.css" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="tokenlist">
        <a href="/admin/token/" class="btn btn-green refresh">Обновить</a>
        <div style="clear:both"></div>
        {% if (tokens|length  > 0) %}
            <div class="fixTableHead">
                <table>
                    <thead>
                         <tr>
                            <th>Статус</th>
                            <th>Сделано запросов</th>
                            <th>Максимум запросов</th>
                            <th>Тариф</th>
                            <th>Токен</th>
                            <th>Ошибка</th>
                            <th></th>
                         </tr>
                    </thead>
                    <tbody>
                        {% for tokenInfo in tokens %}
                            <tr class="{{tokenInfo.active == "Не активен" ? 'inactive' : 'active'}} {{tokenInfo.error == '' ? "" : "error"}}">
                                <td>{{tokenInfo.active}}</td>
                                <td>{{ tokenInfo.token.getCurrentCount() }}</td>
                                <td>{{ tokenInfo.token.getMaxCount() }}</td>
                                <td>{{tokenInfo.tariff}}</td>
                                <td>{{ tokenInfo.token.getToken() }}</td>
                                <td>{{ tokenInfo.error }}</td>
                                <td><a class="remove" href="/admin/removetoken?id={{ tokenInfo.token.getId() }}">Удалить</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <form id="create_user" method="post">
        <h1>Добавление токена</h1>
        <div>
            <label><textarea minlength="30" name="token" type="text">{{token??''}}</textarea></label>
        </div>
        <div>
            <label><p style="color: red">{{error??''}}</p></label>
        </div>
        <div><input class="submit" type="submit" value="Добавить"/></div>
    </form>
     <style>
         .btn.refresh {
             display: block;
            width: 100px;
            margin-bottom: 10px;
            float: right;
            margin-right: 5px;
         }
         .btn-green {
             background-color: green;
         }
        .fixTableHead {
            overflow-y: auto;
            max-height: 50vh;
          }
          .fixTableHead thead th {
            position: sticky;
            top: 0;
          }
          table {
            border-collapse: collapse;        
            width: 100%;
          }
          th,
          td {
            padding: 8px 15px;
            border: 2px solid #529432;
          }
          th {
            background: #ABDD93;
          }

        form textarea {
            background: white;
            text-align: center;
            border-width:2px;
            border-color: green;
            width: 35vw;
            min-height: 2vh;
            padding: 1vh;
            border-radius: 20px;
            font-size: 2vh;
        }

        table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        table tbody tr:nth-of-type(odd) {
            background-color: #f3f3f3;
        }
        table tbody tr.error {
            background-color: red !important;
            
        }
        table tbody tr.inactive {
            background-color: yellow !important;
            
        }
        table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        table th,
        table td {
            padding: 12px 15px;
        }

        table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            font-size: 0.9em;
            font-family: sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        #create_user {
            display: flex;
            flex-direction: column;
            align-items: center;
           
            padding-bottom: 20vh;
            background: white;
            border-radius: 5px;
            width: 80vw;
            margin: 0 auto;
        }
        
        .tokenlist {
            align-items: center;
            background: white;
            border-radius: 5px;
            width: 80vw;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 20px;
            overflow-x: auto;
        }
        .terror {
            color: red;
        }
        #create_user :only-child {
            margin: 2vh;
        }

        label {
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        p {
            margin-bottom: 5vh;
        }

        .error {
            color: red;
            font-size: 2vh;
            margin: 0;
        }

        form input {
            background: wite;
            text-align: center;
            border-width:2px;
            border-color: green;
            width: 12vw;
            height: 3vh;
            padding: 1vh;
            border-radius: 20px;
            font-size: 2vh;
        }

        .submit {
            margin-top: 5vh;
            width: auto;
            background: green;
            font-size: 3vh;
            height: auto;
            padding: 1vh 3vh;
            border-radius: 20px;
            color: black;
        }

        select {
            text-align: center;
        }
    </style>
{% endblock %}
